<h2> Latest Posts </h2>

<div id="welcome">
  <h1>Welcome to the Public Homepage</h1>
</div>

<% @posts.each do |post| %>
  <div class="post">

  <%= render partial: "posts/post", locals: { post: post } %>

    
   
  </div>
<% end %>

<% if @posts.empty? %>
  <p>No posts available yet. Check back soon!</p>
<% end %>