<h2> Latest Posts </h2>

<div id="welcome">
  <h1>Welcome to the Public Homepage</h1>
</div>

<% @posts.each do |post| %>
  <div class="post">

    <% if post.title.present? %>
      <h3><%= link_to post.title, post_path(post) %></h3>
    <% end %>


    <% if post.summary.present? %>
      <p><%= post.summary %></p>
    <% end %>

    <p><%= post.created_at %></p>

    <% if post.active? %>
      <p>Status: Active</p>
    <% else %>
      <p>Status: Inactive</p>
    <% end %>

    <p><%= link_to "Show this post", post %></p>

  </div>
<% end %>

<% if @posts.empty? %>
  <p>No posts available yet. Check back soon!</p>
<% end %>